<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEd_Tnx_t9SLsmgmMfrvKx-wHAl-SwhNc</string>
	<key>GCM_SENDER_ID</key>
	<string>430571973058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ADA.-024-MC3-Team4-NewT</string>
	<key>PROJECT_ID</key>
	<string>newt-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>newt-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430571973058:ios:af5e0b3229df34fd438e5b</string>
</dict>
</plist>